# INUTIL FOLDERS

/node_modules

# INUTIL FILES

harumi.zip
harumi2.zip
package-lock.json

# CONFIDENCIAL FILES

src/config/database/giveaways.json
src/config/json/webhooks.json
src/config/json/player.json
src/config/json/config.json