# INUTIL FOLDERS

/node_modules

# INUTIL FILES

tokens.json
harumi.zip
harumi2.zip
package-lock.json

# CONFIDENCIAL FILES

custom-npms/discord-backup/Backup/Backup-Data
custom-npms/discord-backup/lib/backups
src/config/database/giveaways.json
src/config/json/webhooks.json
src/config/json/player.json
src/config/json/config.json
src/config/json/perms.json